.body-content{
    height: 100%;
}
.header{
    background-color: #4267b2;
    height: 57px;
}
.fb-icon{
    display: inline-block;
    width: 163px;
    height: 57px;
    margin-top: -85px;
}
.body-content{
    padding: 80px 0;
    background-color: hsl(0, 0%, 95%);
}

.fb-icon:hover{
    cursor: pointer;
}
.form-border{
    border: 1px solid #dddfe2;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    padding: 22px 108px 26px;
    width: 396px;
    background-color: #ffffff;
}
.login-title{
    font-size: 18px;
    line-height: 65px;
    font-weight: 450;
}

.get-info{
    width: 302px;
    height: 34px;
    margin-left: -55px;
}

.btn-login{
   
    width: 302px;
    margin-left: -55px;
}
.position{
    margin-bottom: 10px;
}
.size-input{
    margin-bottom: 10px;
}

#pageFooter{
    width: 910px;
    line-height: 1.6;
    margin-left: 30px;
    color: #737373
}
ul{
    
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mvl{
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.li{
    margin-left: 15px;
    display: inline-block;
}
.language-position{
    padding-left: 10px;
}